<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>問題選択</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/mondai2.css">
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <p id="userName" data-name="<%= name %>"><%= name %></p>
    <h1>問題一覧</h1>
    <form name="f1">
        <!-- ... 省略（セレクトボックスとその他の要素） ... -->
        <input type="submit" class="button" name="send" value="問題を送る">
      </form>
    <!-- ... 省略（その他のボタンとリンク） ... -->
    <div class="sample">
      <a href="http://localhost:3000/login">戻る</a>
      <a href="http://localhost:3000/Question_manage">問題一覧</a>
  </div>
    <script>
        // Socket.IOによるリアルタイム通信の処理をここに記述
        // ... 省略（Socket.IOのイベント処理） ...
        var socket = io();
        var n = document.forms.f1;
        var userNameElement = document.getElementById('userName');
        var userName = userNameElement.getAttribute('data-name');

        // 問題送信ボタンの処理
        n.send.addEventListener('click', function(e) {
            e.preventDefault();
            var formData = new FormData(document.forms.f1);
            // ここで formData を使用してサーバーに送信する処理
        });

        // その他のボタンに関するイベントハンドラー（省略）

    </script>
</body>
</html>
